.form {
  margin: -1.688rem 0 4rem;
  display: flex;
  gap: 8px;
}

.form > input {
  flex: 1;
  height: 54px;
  padding: 1rem;
  border: 1px solid var(--gray-700);
  border-radius: 8px;
  color: var(--gray-300);
  background: var(--gray-500);
  outline: none;
  transition: all 0.1s;
}

.form > input:focus {
  color: var(--gray-100);
  border-color: var(--purple-500);
}

.form > button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: var(--gray-100);
  font-size: 0.875rem;
  font-weight: bold;
  padding: 16px;
  background: var(--blue-500);
  border: none;
  border-radius: 8px;
  transition: all 0.1s;
}

.form > button:hover {
  cursor: pointer;
  background: var(--blue-300);
}
